body {
    background-color: #8A8D96;
    color: #5E0B15;
    font-family: Helvetica
    
}
h1,
h2 {
        display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}
.tutorialLink{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;   
    border-radius: 500px;
    border: 20px solid #2A6041;
    background: linear-gradient(to bottom right, #f14346, #5E0B15);
}   
figcaption{
    color: #8A8D70;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navbar a {
    font-family: Helvetica;
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 18px;
}
.navbar a:hover {
    color: #a01323;
}
.regIMG{
    color:#5E0B15;
}
.warning{
    text-shadow: 2px 2px 2px #2A6041;
}
.big {
    font-size: 30px;
    color: #5E0B15;
}

h3{
    font-weight:900;
    text-align: center;
    text-transform: capitalize;
}